<% include ./header %>
<div id="index-page-wrap">
	<h1 class="title mgb4"><%= title %></h1>
	<ul class="common-ul nav no-padding">
		<% pages.forEach(function(p) { %>
			<li><a href="<%= p.link %>"><%= p.text %></a></li>
		<% }) %>
	</ul>

	<ul class="connect-me common-ul ul-inline">
		<% connects.forEach(function(c) { %>
			<li>
				<a href="<%= c.link %>" target="_blank" title="<%= c.title %>">
					<i class="fa <%= c.icon %>" aria-hidden="true"></i>
				</a>
			</li>
		<% }) %>
	</ul>
</div>
<% include ./footer %>
