<% include ./header %>
	<div id="index-page-wrap">
		<h1 class="title mgb4">
			<%= title %>
				<a class="pull-right" href="/article/new">new baby</a>
		</h1>
		<ul class="common-ul nav no-padding">
			<% pages.forEach(function(p) { %>
				<li>
					<a href="<%= p.link %>">
						<%= p.text %>
					</a>
				</li>
				<% }) %>
		</ul>

		<ul class="connect-me common-ul ul-inline">
			<% connects.forEach(function(c) { %>
				<li>
					<a href="<%= c.link %>" target="_blank" title="<%= c.title %>">
					<i class="fa <%= c.icon %>" aria-hidden="true"></i>
				</a>
				</li>
				<% }) %>
		</ul>

		<div class="bg-story">
			<p class="story-text">少小离家老大回, 乡音无改鬓毛衰, 儿童相见不相识, 笑问客从何处来. </p>
		</div>
		<div class="filing-wraper"><% include ./filing %></div>

		<div class="shortcut-articles">
			<ul class="common-ul ul-inline no-padding">
				<li class="no-text-select active">最近发表</li>
				<li class="no-text-select">最近更新</li>
			</ul>

			<div class="articles-list trans-0">
				<div class="newest">
					<ul class="common-ul no-padding">
						<% newest.forEach(function(article) { %>
							<li>
								<a href="<%= article.href %>">
									<p class="title">
										<%= article.title %>
									</p>
									<p class="info">
										<span><%= article.author %></span>
										<span class="pull-right mgr1"><%= article.date %></span>
									</p>
								</a>
							</li>
							<% }) %>
					</ul>
				</div>

				<div class="update">
					<ul class="common-ul no-padding">
						<% update.forEach(function(article) { %>
							<li>
								<a href="<%= article.href %>">
									<p class="title">
										<%= article.title %>
									</p>
									<p class="info">
										<span><%= article.author %></span>
										<span class="pull-right mgr1"><%= article.update %></span>
									</p>
								</a>
							</li>
							<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ./footer %>