<% include ./header %>
<div id="index-page-wrap">
	<h1 class="title mgb4">
		<%= title %>
		<a class="pull-right" href="/article/new">new baby</a>
	</h1>
	<ul class="common-ul nav no-padding">
		<% pages.forEach(function(p) { %>
			<li><a href="<%= p.link %>"><%= p.text %></a></li>
		<% }) %>
	</ul>

	<ul class="connect-me common-ul ul-inline">
		<% connects.forEach(function(c) { %>
			<li>
				<a href="<%= c.link %>" target="_blank" title="<%= c.title %>">
					<i class="fa <%= c.icon %>" aria-hidden="true"></i>
				</a>
			</li>
		<% }) %>
	</ul>

	<div class="shortcut-articles">
		<ul class="common-ul ul-inline no-padding">
			<li class="no-text-select active">最近发表</li>
			<li class="no-text-select">最近更新</li>
			<li class="no-text-select">最新评论</li>
			<li class="no-text-select">热评文章</li>
		</ul>

		<div class="articles-list trans-0">
			<div class="recent-comments">
				<!-- 多说最新评论 start -->
				<div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
				<!-- 多说最新评论 end -->
				<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"nodefc"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
					</script>
				<!-- 多说公共JS代码 end -->
			</div>

			<div class="recent-comments">
				<!-- 多说最新评论 start -->
				<div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
				<!-- 多说最新评论 end -->
				<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"nodefc"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
					</script>
				<!-- 多说公共JS代码 end -->
			</div>

			<div class="recent-comments">
				<!-- 多说最新评论 start -->
				<div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
				<!-- 多说最新评论 end -->
				<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"nodefc"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
					</script>
				<!-- 多说公共JS代码 end -->
			</div>

			<div class="recent-comments">
				<!-- 多说最新评论 start -->
				<div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
				<!-- 多说最新评论 end -->
				<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"nodefc"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
					</script>
				<!-- 多说公共JS代码 end -->
			</div>

		</div>
	</div>
</div>
<% include ./footer %>
