<% include ./header %>
<div id="new-article-wrap">
	<form id="submit-artical" class="mgb2" data-referer="<%= referer %>">
		<a class="pull-right home-page" href="/">主页邬</a>
		<label class="block">
			<span class="mgr1">标题</span>
			<input type="text" name="title" value="<%= blog.title %>" required="required" max-length="32" placeholder="输入标题">
		</label>
		<label class="block">
			<span class="mgr1">作者</span>
			<input type="text" name="author" value="<%= blog.author %>" required="required" max-length="16" placeholder="输入作者">
		</label>
		<label class="block">
			<span class="mgr1">标签</span>
			<input type="text" name="tags" value="<%= blog.tags %>" required="required" max-length="32" placeholder="输入标签，‘+’分隔">
		</label>
		<label class="block">
			<span class="mgr1">分类</span>
			<select name="category">
				<% categories.forEach(function(c) { %>
					<% if(c.value === blog.category) { %>
						<option value="<%= c.value %>" selected><%= c.label %></option>
					<% } else { %>
						<option value="<%= c.value %>"><%= c.label %></option>
					<% } %>
				<% }) %>
			</select>
		</label>
		<label class="block">
			<span class="mgr1 mobile hidden">摘要</span>
			<textarea name="summary" required="required" placeholder="摘要"><%= blog.summary %></textarea>
		</label>
		<div class="wang-editor-wrapper">
			<div id="wang-editor">
				<%- blog.body %>
			</div>
			<textarea id="wang-editor-content" name="body"></textarea>
			<input id="wang-editor-placeholder" type="text" readonly placeholder="正文">
		</div>
		<!-- <label class="block">
			<span class="mgr1 mobile hidden">正文</span>
			<textarea name="body" required="required" placeholder="输入正文，Markdown 格式"><%= blog.body %></textarea>
		</label>
		<label class="block">
			<span class="mgr1 mobile hidden">CSS 文件</span>
			<textarea name="css" placeholder="输入文章依赖的 CSS 文件链接，换行分隔"><%= blog.css %></textarea>
		</label>
		<label class="block">
			<span class="mgr1 mobile hidden">JS 文件</span>
			<textarea name="js" placeholder="输入文章依赖的 JS 文件链接，换行分隔"><%= blog.js %></textarea>
		</label> -->
		<label class="block mgb3">
			<input type="text" name="phone" required="required" placeholder="输入手机号，获取授权码">
			<input type="text" name="authcode" class="mgl2" required="required" placeholder="输入授权码，区分大小写">
			<button id="authcode" class="button mgl2" type="button">获取授权码</button>
		</label>
		<input type="hidden" name="id" value="<%= blog.id %>">
		<button class="button mgr2" type="submit">保存</button>
		<a href="<%= referer %>">
			<button class="button" type="button">返回</button>
		</a>
	</form>
</div>
<% include ./footer %>