<% include ./header %>
<div id="tag-page-wrap">
	<h3><a class="mgl1" href="/">主页邬</a></h3>
	<ul class="common-ul no-padding ul-inline clear-fix">
		<% result.forEach(function(r) { %>
			<li class="center pull-left">
				<a class="pdb3" href="<%= r.href %>" target="_blank">
					<h3 class="ellipsis-text"><%= r.title %></h3>
					<p><%- r.summary %></p>
				</a>
				<div class="tags">
					<% r.tags.forEach(function(t) { %>
						<a href="/tag/<%= t %>">#<%= t %></a>
					<% }) %>						
				</div>
			</li>
		<% }) %>
		</ul>
</div>
<% include ./footer %>