<% include ./header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/tech.css" />
<div id="tech-page-container">
	<div class="left-nav">
		<header>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</header>
		<!-- 动态生成目录 -->
		<ul class="tech-catalog">
			<li>
				<h3>2016</h3>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
				</ul>
			</li>
			<li>
				<h3>2015</h3>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">Home</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- 拉取具体内容 -->
	<div class="content">
		<h3><%= blog.title %></h3>
		<p>
			<span><%= blog.author %></span>
			<span><%= blog.date %></span>
			<span><%= blog.update %></span>
		</p>
		<%- blog.body %>
	</div>
</div>
<% include ./footer %>